<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title><%= title %></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|400,700,200" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto|400,700,200" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="/stylesheets/now-ui-kit.css?v=1.1.0" rel="stylesheet"/>
    <% include partials/navbar %>
</head>
<body data-background-color="black">
<% if(error.length > 0) { %>
<div class="alert alert-danger" role="alert" id="doc_notification" onclick="closeNotification()">
    <div class="container">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="close()">
				<span aria-hidden="true">
				<i class="now-ui-icons ui-1_simple-remove"></i>
			</span>
        </button>
    </div>
</div>
<% } %>
<div class="container">
    <h1 style="padding-top: 30px;"><%= title %></h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputFile">Set Document</label>
            <input type="file" name="document" class="form-control-file" id="exampleInputFile"
                   aria-describedby="fileHelp" required>
            <small id="fileHelp" class="form-text text-muted">Upload a document such as a safety powerpoint
            </small>
        </div>
        <div class="form-group">
            <label for="Title">Title</label>
            <input required="required" type="title" class="form-control" id="Title" placeholder="Title" name="docTitle"
                   value=<%= documentTitle %>>
        </div>
        <div class="form-group" data-background-color="black">
            <label for="Inputselect">Category</label>
            <select class="form-control" name="docCategory">
                <option style="color:black;">policy</option>
                <option style="color:black;">resources</option>
                <option style="color:black;">safety</option>
                <option style="color:black;">training</option>
                <option style="color:black;">checklists</option>
                <option style="color:black;">links</option>
                <option style="color:black;">extras</option>
                <option style="color:black;">miscellaneous</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Email1msg">Summary (optional)</label>
            <textarea class="form-control" name="docSummary" rows="3" id="summary"></textarea>
        </div>
        <div id=description-host class="form-group">
            <label for="Description">Descriptions and Supporting Documents (optional)</label>
            <div class="form-group form-inline">
                <label class="sr-only" for="inlineFormInput">Title</label>
                <input type="text" name="descTitle0" class="form-control description mb-2 mr-sm-2 mb-sm-0"
                       id="inlineFormInput"
                       placeholder="Title">
                <label class="sr-only" for="exampleInputFile">File input</label>
                <input type="file" name="description" class="form-control-file" id="exampleInputFile"
                       aria-describedby="fileHelp">
            </div>
        </div>
        <input style="padding-top: 10px;" value="Submit Information" type="submit" class="btn btn-primary btn-round"/>

    </form>
</div>
<script>
  function closeNotification() {
    document.getElementById("doc_notification").style.visibility = "hidden";
  }
</script>
<script src="/javascripts/description.js"></script>
</body>
</html>