<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Signal Mutual</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|400,700,200" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|400,700,200" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="/stylesheets/now-ui-kit.css?v=1.1.0" rel="stylesheet"/>
</head>

<body class="login-page" style="background: url(images/bg11.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
<div class="section-signup" style="style=background-color:rgba(0, 0, 0, 0.5);">
                <div class="container">
                    <div class="row">
                        <div class="card card-signup" data-background-color="black">
                            <form class="form" method="post">
                                <div class="header header-primary text-center">
                                    <h4 class="title title-up"><a href="https://www.signalmutual.com/">Signal Mutual</a></h4>
                                </div>
                                <div class="content">
                                                               <div class="text-center">
                                    <p class="title title-up"><%= error %></p>
                                </div>
                                    <div class="input-group form-group-no-border">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons ui-1_email-85"></i>
                                        </span>
                                        <input name="email" type="text" class="form-control" placeholder="Email...">
                                    </div>
                                    <div class="input-group form-group-no-border">
                                        <span class="input-group-addon">
                                            <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                        </span>
                                        <input name="password" type="password" placeholder="Password..." class="form-control" />
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <input value="Log in" type="submit" class="btn btn-neutral btn-round btn-lg" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</body>
<!--   Core JS Files   -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/js/core/tether.min.js" type="text/javascript"></script>
<script src="/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="/js/now-ui-kit.js" type="text/javascript"></script>

</html>