<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= title %></title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|400,700,200" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|400,700,200" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="/stylesheets/now-ui-kit.css?v=1.1.0" rel="stylesheet"/>
    <% include partials/navbar %>
</head>
<body data-background-color="black">
<div class="container">
    <h1 style="padding-top: 30px;"><%= title %></h1>
    <form method="post">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="title" class="form-control" name="title" id="Title" placeholder="Title" required>
        </div>

        <div class="form-group">
            <label for="URL">URL (prefix with http:// or https://)</label>
            <input type="url" class="form-control" name="url" id="URL" placeholder="URL" required>
        </div>

        <div class="form-group">
            <label for="Inputselect">Category</label>
            <select class="form-control" name="category">
                <option style="color:black;">policy</option>
                <option style="color:black;">resources</option>
                <option style="color:black;">safety</option>
                <option style="color:black;">training</option>
                <option style="color:black;">checklists</option>
                <option style="color:black;">links</option>
                <option style="color:black;">extras</option>
                <option style="color:black;">miscellaneous</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Email1msg">Summary (optional)</label>
            <textarea class="form-control" rows="3" id="summary" name="summary"></textarea>
        </div>
        <input style="padding-top: 10px;" value="Submit Information" type="submit" class="btn btn-primary btn-round" />

    </form>
</div>
</body>
</html>
