<nav class="navbar navbar-expand-lg bg-black">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/">
               Signal Mutual
           </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
   	        <span class="navbar-toggler-bar bar1"></span>
	        <span class="navbar-toggler-bar bar2"></span>
 	    </button>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
    	    <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/document">Add PDF</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/website">Add Website</a>
                </li>
            </ul>
        </div>
    </div>
</nav>